@auth.main{
<!-- start: FORGOT BOX -->
<div class="box-forgot box" data-box="forgot">
	<h3>Forget Password?</h3>
	<p>Enter your e-mail address below to reset your password.</p>
	<form class="form-forgot">
		<div class="errorHandler alert alert-danger no-display">
			<i class="fa fa-remove-sign"></i> You have some form errors. Please
			check below.
		</div>
		<fieldset>
			<div class="form-group">
				<span class="input-icon"> <input type="email"
					class="form-control" name="email" placeholder="Email"> <i
					class="fa fa-envelope"></i>
				</span>
			</div>
			<div class="form-actions">
				<a class="btn btn-light-grey go-back" href="login"> <i
					class="fa fa-chevron-circle-left"></i> Log-In
				</a>
				<button type="submit" class="btn btn-green pull-right">
					Submit <i class="fa fa-arrow-circle-right"></i>
				</button>
			</div>
		</fieldset>
	</form>
	<!-- start: COPYRIGHT -->
	<div class="copyright">2014 &copy; Rapido by cliptheme.</div>
	<!-- end: COPYRIGHT -->
</div>
<!-- end: FORGOT BOX -->
}
