<!-- start: HEAD -->
<head>
<title>Rapido - Responsive Admin Template</title>
<!-- start: META -->
<meta charset="utf-8" />
<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="" name="description" />
<meta content="" name="author" />
<!-- end: META -->
<!-- start: MAIN CSS -->
<link rel="stylesheet"
	href="@routes.Assets.versioned("/plugins/bootstrap/css/bootstrap.min.css")">
<link rel="stylesheet"
	href="@routes.Assets.versioned("/plugins/font-awesome/css/font-awesome.min.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("/plugins/animate.css/animate.min.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("/plugins/iCheck/skins/all.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("/css/styles.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("/css/styles-responsive.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("/plugins/iCheck/skins/all.css")">
<!--[if IE 7]>
		<link rel="stylesheet" href="@routes.Assets.versioned("/plugins/font-awesome/css/font-awesome-ie7.min.css")">
		<![endif]-->
<!-- end: MAIN CSS -->
<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
</head>
<!-- end: HEAD -->