<!-- start: MAIN JAVASCRIPTS -->
<!--[if lt IE 9]>
		<script src="@routes.Assets.versioned("/plugins/respond.min.js")"></script>
		<script src="@routes.Assets.versioned("/plugins/excanvas.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.versioned("/plugins/jQuery/jquery-1.11.1.min.js")"></script>
		<![endif]-->
<!--[if gte IE 9]><!-->
<script src="@routes.Assets.versioned("/plugins/jQuery/jquery-2.1.1.min.js")"></script>
<!--<![endif]-->
<script src="@routes.Assets.versioned("/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js")"></script>
<script src="@routes.Assets.versioned("/plugins/bootstrap/js/bootstrap.min.js")"></script>
<script src="@routes.Assets.versioned("/plugins/iCheck/jquery.icheck.min.js")"></script>
<script src="@routes.Assets.versioned("/plugins/jquery.transit/jquery.transit.js")"></script>
<script src="@routes.Assets.versioned("/plugins/TouchSwipe/jquery.touchSwipe.min.js")"></script>
<script src="@routes.Assets.versioned("/js/main.js")"></script>
<!-- end: MAIN JAVASCRIPTS -->
<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<script
	src="@routes.Assets.versioned("/plugins/jquery-validation/dist/jquery.validate.min.js")"></script>
<script src="@routes.Assets.versioned("/js/login.js")"></script>
<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<script>
	jQuery(document).ready(function() {
		Main.init();
		Login.init();
	});
</script>