@auth.main{
<!-- start: MESSAGE BOX -->
<div class="box-forgot box" data-box="forgot">
	<h3>@if(flash.containsKey("message_title")) { @flash.get("message_title") } else { Processfully! }</h3>
	<p>@if(flash.containsKey("message_body")) { @flash.get("message_body") } else { Back to Log In screen }</p>
	<a class="btn btn-light-grey go-back" href="/login"> <i
		class="fa fa-chevron-circle-left"></i> Log-In
	</a>
	<!-- start: COPYRIGHT -->
	<div class="copyright">2014 &copy; Rapido by cliptheme.</div>
	<!-- end: COPYRIGHT -->
</div>
<!-- end: FORGOT BOX -->
}
