@auth.main{
<!-- start: REGISTER BOX -->
<div class="box-register box" data-box="register">
	<h3>Sign Up</h3>
	<p>Enter your personal details below:</p>
	<form class="form-register" action="@routes.Registration.register()" method="POST">
		<div class="errorHandler alert alert-danger no-display">
			<i class="fa fa-remove-sign"></i> You have some form errors. Please
			check below.
		</div>
		<fieldset>
			<div class="form-group">
				<input type="text" class="form-control" name="fullName"
					placeholder="Full Name">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="company"
					placeholder="Company Name">
			</div>
			<p>Enter your account details below:</p>
			<div class="form-group">
				<span class="input-icon"> <input type="email"
					class="form-control" name="email" placeholder="Email"> <i
					class="fa fa-envelope"></i>
				</span>
			</div>
			<div class="form-group">
				<span class="input-icon"> <input type="password"
					class="form-control" id="password" name="password"
					placeholder="Password"> <i class="fa fa-lock"></i>
				</span>
			</div>
			<div class="form-group">
				<span class="input-icon"> <input type="password"
					class="form-control" name="password_again"
					placeholder="Password Again"> <i class="fa fa-lock"></i>
				</span>
			</div>
			<div class="form-group">
				<div>
					<label for="agree" class="checkbox-inline"> <input
						type="checkbox" class="grey agree" id="agree" name="agree">
						I agree to the Terms of Service and Privacy Policy
					</label>
				</div>
			</div>
			<div class="form-actions">
				Already have an account? <a href="login" class="go-back"> Log-in </a>
				<button type="submit" class="btn btn-green pull-right">
					Submit <i class="fa fa-arrow-circle-right"></i>
				</button>
			</div>
		</fieldset>
	</form>
	<!-- start: COPYRIGHT -->
	<div class="copyright">2015 &copy; Processfully</div>
	<!-- end: COPYRIGHT -->
</div>
<!-- end: REGISTER BOX -->
}
