<section id="demo">
	<div class="container">
		<div class="section-heading scrollpoint sp-effect3">
			<h1>Demo</h1>
			<div class="divider"></div>
			<p>Take a closer look in more detail</p>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 scrollpoint sp-effect2">
				<div class="video-container">
					<iframe src="http://player.vimeo.com/video/70984663"></iframe>
				</div>
			</div>
		</div>
	</div>
</section>