<meta charset="UTF-8">
<title>Processfully</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="shortcut icon" href="favicon.png">

<link rel="stylesheet" href="@routes.Assets.versioned("oleose/css/bootstrap.css")">

<link rel="stylesheet" href="@routes.Assets.versioned("oleose/css/animate.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("oleose/css/font-awesome.min.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("oleose/css/slick.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("oleose/js/rs-plugin/css/settings.css")">

<script type="text/javascript" src="@routes.Assets.versioned("oleose/js/modernizr.custom.32033.js")"></script>

<link rel="stylesheet" href="@routes.Assets.versioned("oleose/css/eco.css")">

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->